<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SevenDiamonds</title>
    <link rel="stylesheet" href="~/css/main.min.css" />
</head>
<body>
    <header class="header">
        <div class="header-inner">
            <a class="header-icon" asp-area="" asp-controller="Home" asp-action="Index">Seven Diamonds</a>
            <nav class="header-nav">
                <a class="header-nav-item" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a class="header-nav-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <a class="header-nav-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <a class="header-nav-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </nav>
            <div style="color: #EEE;" onclick="openNav()">open</div>
        </div>
    </header>

    <div id="sideNavigation" class="nav-side">
        <a href="javascript:void(0)" class="btn-close" onclick="closeNav()">close</a>
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>

    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-inner">
            <a>Join our community on discord</a>
            @*<div>
                    <a>1</a>
                    <a>2</a>
                    <a>3</a>
                    <a>4</a>
                    <a>5</a>
                </div>*@
            <div class="copyrights">&copy; 2020 - Seven Diamonds</div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/scripts/main.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>